<!--<div class="channel_item">-->
<!--    <% @channels.each do |channel| %>-->
<!--    　 <h2><%= channel.channel %><h2>-->
<!--    <% end %>-->
<!--</div>-->

<div class="container">
 <ul class="nav justify-content-center"　class="channel_item">
  <li class="nav-item">
    <h1 class="nav-link active" >
     <div class="channel_item">
        <% @channels.each do |channel| %>
        　 <%= link_to channel.channel, chat_path(channel.id) %>
        <% end %>
     </div>
    </h1>
  </li>
</ul>
</div>


