<div class="new_main">
    <% @channel.errors.full_messages.each do|message|%>
    　　<p class="errors_message"><%= message %></p>
    <% end %>
    <%= form_for @channel do |f| %>
        <h1 class="channel_title alert alert-primary">チャンネル作成しよう</h1>
        <div class="form-group">
            <%= f.text_field :channel, class: "new_channel", placeholder: "チャンネル名記載",  class: "form-control mr-sm-2" %>
        </div>
        <%= f.submit '新規チャンネル作成', class: "btn btn-outline-primary" %>
    <% end %>
</div>


