<div class="chats_title">
    <h1><%= @channel.channel %></h1>
</div>

<div class="chats_main">
<% @chats.each do |chat|%>
     <%= chat.content %>
<% end %>
</div>

<!--<h1>Chats#show</h1>-->
<!--<p>Find me in app/views/chats/show.html.erb</p>-->