<!--<div class="channel_item">-->
<!--    <% @channels.each do |channel| %>-->
<!--    　 <h2><%= channel.channel %><h2>-->
<!--    <% end %>-->
<!--</div>-->

<div class="container">
 <ul class="nav justify-content-center">
  <li class="nav-item">
    <h1 class="nav-link active" >
     <div class="channel_item">
        <% @channels.each do |channel| %>
        　 <%= channel.channel %>
        <% end %>
     </div>
    </h1>
  </li>
</ul>
</div>

<h1>世界に自分の考えを伝えよう！！</h1>     
