// header↓

.logo_brand{
    margin-top:20px;
    margin-left: 20px;

}

.main_nav{
    border-bottom:solid 3px black;
}


// center↓

.container{
    height:230px;
    margin:170px 0 100px 0 ;
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
}

.channel_item{
    margin-top:70px;
}


// footer

.sub_title{
    color: blue;
    text-align: center;
    padding-top: 50px;
    border-top:solid 3px black;

}





/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */