// chats.show================================
.chats_title{
    // color:red;
    width:30%;
    // text-align:center;
    margin:50px auto;
    // padding-top:50px;
    // border-styles:solid 4px red;
    // padding-top:50px ;
    text-align:center;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
}

.chats_main{
    width:500px;
    margin:50px auto;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;


}

.chats_name{
    width:500px;
    text-align:center;
    // border:solid 2px blue;
}

.chats_content{
    text-align:center;
}

.chats_updated_at{
    text-align:right;
}

// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
